body{
    padding: 0;
    margin: 0; 
    background-image:url("../fondo.jpg");
}

body::-webkit-scrollbar {
    width: 7px;
    background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
    border-right: 2px solid white;
}
main{
    min-height: 100vh;
}
.modal-open {
    padding-right: 0px !important;
}

  